//out:styles.css

body {
  background-color: #808080;
  text-align: center;
}

#nav {
  list-style: none;
  text-align: center;
  padding: 0;
  display: flex;
  li {
    flex: 1 1 0;
  }
}

img {
  width: 300px;
}

#nicknames-list {
  list-style: none;
  text-align: center;
  padding: 0;
}
