* {
  margin: 0;
  font-family: monospace;
}
body {
  background-color: #808080;
}
#wrapper {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 960px;
  min-width: 320px;
  margin: 0 auto;
}
#cat-nav {
  display: flex;
  min-height: 20px;
  padding: 30px;
}
#cat-nav li {
  list-style-type: none;
  padding: 0;
  text-align: center;
  flex: 1 1 0;
  font-weight: bold;
  font-size: 200%;
  text-transform: uppercase;
}
#cat-display-area {
  min-height: 100px;
  text-align: center;
}
#cat-display-area #cat-title {
  font-size: 300%;
  text-transform: uppercase;
}
#cat-display-area #cat-img {
  width: 500px;
  margin: 10px 0;
}
#cat-display-area #click-count-readout {
  font-size: 500%;
}
